<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.repository.BookDAO">

     <select id="bookList" resultType="com.example.entity.BookDTO">
         select b.num, b.title, b.price, b.author, b.page, count(r.book_num) as cnt from book b
         left join review r
         on b.num=r.book_num group by num;
     </select>

    <select id="bookListSort" resultType="com.example.entity.BookDTO">
        select * from book order by ${key} desc
    </select>

    <select id="bookListSearch" resultType="com.example.entity.BookDTO">
        select * from book where
        title like CONCAT('%', #{keyword}, '%')
        or
        author like CONCAT('%', #{keyword}, '%')
    </select>

    <delete id="bookDelete">
        delete from book where num=#{num}
    </delete>

    <insert id="bookInsert" parameterType="com.example.entity.BookDTO">
        insert into book(title, price, author, page)
        values(#{title},#{price},#{author},#{page})
    </insert>

    <select id="bookView" resultType="com.example.entity.BookDTO">
        select * from book where num=#{num}
    </select>

    <update id="bookUpdate" parameterType="com.example.entity.BookDTO">
        update book set
        title=#{title},
        price=#{price},
        author=#{author},
        page=#{page}
        where num=#{num}
    </update>

    <insert id="reviewAdd" parameterType="com.example.entity.ReviewDTO">
         insert into review(book_num, rating, content)
         values(#{book_num}, #{rating}, #{content})
    </insert>

    <select id="getByNumReviews" resultType="com.example.entity.ReviewDTO">
         select * from review where book_num=${book_num}
         order by created_at desc
    </select>

    <select id="getAvgRating" resultType="Double">
        select avg(rating) from review
        where book_num=#{book_num}
    </select>

    <delete id="reviewRemove">
        delete from review
        where review_id=#{review_id}
    </delete>
</mapper>